<%= render 'spree/shared/wholesale_static_content' %>

<div class="apply">
  <h3><%= t('wholesale_apply') %></h3>
  <p>In order to begin shopping with a secure login, please provide the information requested after the link.</p>
  <%= link_to 'Apply Now!', spree.new_wholesaler_path, :class => 'button' %>
</div>

<div class="login">
  <h3><%= t('wholesale_login') %></h3>
  <%= render 'spree/shared/login' %>
</div>
